<div class="header">
	<div class="header_block header_block-logo">
		<img class="header_logo-block_logo-img" src="/app/content/images/MgLogo.png"/>
		<span class="header_logo-block_naming">Musground</span>
	</div>
	<div class="header_block header_block-navigation">
		<a class="header_block-navigation_link" [routerLink]="['Lesson']">Самоучитель</a>
		<a class="header_block-navigation_link" [routerLink]="['Article']">Статьи</a>
	</div>
	<div class="header_block header_block-register">Login</div>
</div>